<p id="notice"><%= notice %></p>

<ul>
	<% @cart.items.each do |item| %>
		<li><%= item.quantity %>&times;<%= item.dish.name %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
